<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>회원가입</title>
        <link href="/styles/main.css" rel="stylesheet" type="text/css">
        <link href="/styles/join.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="flex-center h-100">
            <div id="join" class="container flex-center">
                <img class="logo" src="/img/logo_light.png" alt="YJCC 로고">
                <h2>회원가입</h2>
                <form action="/join" method="post" name="join" onsubmit="return check()">
                    <div id="email">
                        <input type="text" class="email" name="email" placeholder="학교 이메일 주소" required>
                        <div>@g.yju.ac.kr</div>
                    </div>
                    <input type="text" class="name" name="name" placeholder="사용자 이름" required>
                    <input type="text" class="username" name="username" placeholder="ID" required>
                    <input type="password" class="password" name="password" placeholder="비밀번호" required>
                    <input type="password" class="password2" placeholder="비밀번호 확인" required>
                    <button class="confirmBtn">회원가입</button>
                </form>
            </div>
            <div id="login" class="container flex-center">
                <p>계정이 있으신가요? <a href="/login">로그인</a></p>
            </div>
                                    <!--        <div class="main-container">-->
<!--            <div class="join">-->
<!--                <img class="logo" src="/img/logo_light.png" alt="YJCC 로고">-->
        <!--                &lt;!&ndash; <span>회원가입</span> &ndash;&gt;-->
<!--                <form action="/join" method="post" name="join" onsubmit="return check()">-->
<!--                    <div id="id">-->
<!--                        <input type="text" class="username" name="username" placeholder="ID" required> @g.yju.ac.kr-->
<!--                    </div>-->
<!--                    <input type="password" class="password" name="password" placeholder="비밀번호" required>-->
<!--                    <input type="password" class="pw2" placeholder="비밀번호 확인" required>-->
<!--                    <input type="text" class="name" name="name" placeholder="사용자 이름" required>-->
<!--                    <button class="confirmBtn">회원가입</button>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="login"><p>계정이 있으신가요? <a href="/login">로그인</a></p></div>-->
<!--        </div>-->
        <script src="/js/join.js"></script>
    </body>
</html>