<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>로그인</title>
        <link href="/styles/main.css" rel="stylesheet" type="text/css">
        <link href="/styles/login.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="main-container">
            <div class="login">
                <img class="logo" src="/img/logo.png">
                <form id="form" action="/login" method="post" name="login" onsubmit="return check()">
                    <input type="text" class="username" name="username" placeholder="ID" required/>
                    <input type="password" class="password" name="password" placeholder="비밀번호" required/>
                    <button class="confirmBtn">로그인</button>
                </form>
            </div>
            <div class="join"><p>계정이 없으신가요? <a href="/join">가입하기</a></p></div>
        </div>
        
        <script src="/js/login.js"></script>
    </body>
</html>