<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>로그인</title>
        <link href="/styles/main.css" rel="stylesheet" type="text/css">
        <link href="/styles/login.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="flex-center h-100">
            <div id="login" class="container flex-center">
                <div class="login">
                    <img th:replace="~{fragments/fragments :: logo(light)}">
                    <form id="form" action="/login" method="post" name="login" onsubmit="return check()">
                        <input type="text" class="username" name="username" placeholder="ID" required/>
                        <input type="password" class="password" name="password" placeholder="비밀번호" required/>
                        <button class="confirmBtn">로그인</button>
                    </form>
                </div>
            </div>
            <div class="join"><p>계정이 없으신가요? <a href="/join">가입하기</a></p></div>
        </div>
<!--        <div class="main-container">-->
<!--            <div class="login">-->
<!--                <img class="logo" src="/img/logo_light.png" alt="YJCC 로고">-->
<!--                <form id="form" action="/login" method="post" name="login" onsubmit="return check()">-->
<!--                    <input type="text" class="username" name="username" placeholder="ID" required/>-->
<!--                    <input type="password" class="password" name="password" placeholder="비밀번호" required/>-->
<!--                    <button class="confirmBtn">로그인</button>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="join"><p>계정이 없으신가요? <a href="/join">가입하기</a></p></div>-->
<!--        </div>-->
        
        <script src="/js/login.js"></script>
    </body>
</html>