div.main {
    display: flex;
    flex-wrap: nowrap;
}

nav {
    box-sizing: border-box;
    padding: 20px;
    /*width: 280px;*/
    background-color: #212121;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100vh;
}

.logo {

}

hr {
    margin: 1rem 0;
    /*color: #cccccc;*/
    opacity: .25;
}

ul.nav {
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 10px 16px;
    font-weight: normal;
    color: white;
}

.nav-link>div {
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.nav-link svg {
    margin-right: 15px;
}

.dropdown {
    /*position: relative;*/
}

#container {
    /*left: 290px;*/
    /*position: fixed;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    padding: 50px;
    width: 500px;
    /*background: gray;*/
}

#find-container {
    z-index: 10;
    width: 280px;
    background-color: whitesmoke;
}

aside {
    margin-left: 30px;
    /*background-color: green;*/
    /*width: 350px;*/
}

#profile {
    margin-top: 30px;
    /*background-color: blue;*/
    height: 60px;
    display: flex;
    align-items: center;
}

.propic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    /* border: 1px solid gray; */
    border-radius: 50%;
    background-size: contain;
    flex-direction: column;
    margin-right: 10px;
}

img.propic {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.id_n_name {
    width: 195px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.my_name {
    color: gray;
}

.logout {
    margin-left: 10px;
}