div#login {
    padding: 30px 0;
    width: 350px;
    margin-bottom: 10px;
    text-align: center;
    /* padding: 40px 0; */
}

.join {
    width: 350px;
    height: 63px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    font-size: 11pt;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.logo {
    margin-bottom: 20px;
}